body
{
margin: 0;
padding: 0;
font-size: 14px;
color: #000;
font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
background-color: #fff;
} 

h1
{
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  font-size:18px;
}

h2
{
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  font-size:10px;
}

h3 {
	color:#888;
	font-size:250%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
}

h4 {
	color:#CCC;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}


div#title
{
    background-position:left;
	height: 150px;
    width: 1000px;
	margin: 0;
	padding: 0;
	border: 1px solid #000; 
    background-image: url(paa-logo.gif);
	background-repeat: no-repeat;	   
}

div.table
{ 
  table-layout: fixed;
}

div.table td
{
   font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
   font-size:14px;
   position:fixed;
}

div.menu
{
   color: #0000FF;
   background-color:D7DAE1;
   width: 1000px;
}

div.menu a
{
   font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
   font-size:14px;
   text-decoration:none;
   background:D7DAE1;
   padding: 2px 2px;
   width: 95px;
}

div.menu b
{
   font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
   font-size:12px;
   font-weight:normal;
   background:D7DAE1;
   padding: 2px 2px;
   width: 390px;
}

div.menu a:active
{
   color: #00000;
   background: #D7DAE1;
   font-size:12px;
}

div.menu a:link
{
   color: #0000FF;
   background: #D7DAE1;
}

div.menu a:hover
{
   color: #EEEEEE;
   background-color:#0000FF;
   outline-style:inset;
   outline-width:thick;
   outline-color: #0000FF;
}

div.center1
{
margin-left:auto;
margin-right:auto;
}

div.center2
{
text-align:center;
}
