

#leftcol {
  float: left;
  width: 80%;
  height: 675px;
  overflow: auto;
  background-color: white;
  font-family: Arial;
}

#content {
  float: left;
  width: 20%;
  height: 675px;
  bordercolor: #ff0000;
  border: 4px;
  cellpadding: 5px;
  font-family: Arial;
}


table
{ 
  width: 100%;
  position:relative;
  margin-right:auto;
  margin-left:auto;
}

tr
{
    width: 100%;
}

td
{
   font-family: Arial, sans-serif;
   font-size:15px;
   position:relative;
   text-align: center;
   color: #000000;
   border: 1px solid black;
}

th
{
    font-family: Arial, sans-serif;
    font-size:20px;
    position:relative;
    color: #000000;
}

zz
{
    font-family: Arial, sans-serif;
    font-size:30px;
    position:relative;
    color: #000000;
}

body {
    background-color:#fafafa;
    position:absolute;
    background-image:url('paa-logo.gif');
    background-position:top left;
    background-repeat:no-repeat;
	color:#555;
    /*border:1px solid #999;*/
    position:relative;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

div.menu
{
   color: #0000FF;
   background-color:D7DAE1;
   width: 100%;
   font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
   font-size:12px;
   text-decoration:none;
}

table.table2
{ 
  width: 100%;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  border-width: 1px;
  border-color: #000000;
}

table.table2 td
{
   font-family: Arial, sans-serif;
   font-size:14px;
   color: #000000;
   width: 150px;
   height: 2%;
   border: solid black;
   border-width: 1px;
}

table.table2 th
{
   font-family: Arial, sans-serif;
   font-size:14px;
   color: #000000;
   height: 2%;
   border: solid black;
   border-width: 1px;
   font-weight: bold;
   font-style: italic;
}

 /* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 


select{
    width: 150px;
    margin: 10px;
    text-align: center;
}

select:focus{
    min-width: 150px;
    width: auto;
    text-align: center;
} 


input.btn {
  color:#004572;
  font: 75% "arial",helvetica,sans-serif;
  border-width: 4px;
  border-style: ridge;
  background-color: #e2e4e3;
  width: 10%;
  height: 30px;
  padding:5px;
  vertical-align: middle;
}

input.btn:hover {
    background-color: #77B6E2;
}